@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>Kerimyol'da verilerinizin gizliliği için önemli bir öneme sahip olmaktadır. Bu sayede, sizinle ilgili olan verilerinizin gizliliği korunmaktadır. Kerimyol, verilerinizi gizli tutmak için gerekli önlemleri almaktadır.</p>
